@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.title
{
    text-align: center;
    font-size: 72px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.background
{
    background-color: #ffffff;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 57.5px 57.5px, linear-gradient(rgba(0,0,0,0.3) 4.6000000000000005px, transparent 4.6000000000000005px) 0 -2.3000000000000003px, linear-gradient(90deg, rgba(0,0,0,0.3) 4.6000000000000005px, #ffffff 4.6000000000000005px) -2.3000000000000003px 0;
    background-size: 115px 115px, 115px 115px, 57.5px 57.5px, 57.5px 57.5px;
}